{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}               
<div class="col-md-4">
    <div class="sidebar">
        <div class="card mb-4">
            <div class="card-body">
                
                <h3 class="card-title">How Buza Works</h3>
                <ul>
                    <br><li class="text-justify"><strong>Post Your Question:</strong> Simply create an account and share your legal question with our community. You can ask anything from basic inquiries to more complex issues.</li>
                   <br> <li><strong>Engage with Experts:</strong> Our platform allows users, including legal professionals and experienced advisers, to respond to your questions. You’ll receive insights and perspectives that can help you understand your situation better.</li>
                   <br><li><strong>Learn About Your Options:</strong> While we do not provide legal advice or endorse specific actions as a platform , our community can help clarify whether you may have a claim and the potential steps you could take.</li>
                   <br><li><strong>Find Legal Support:</strong> If you need further assistance, we can connect you with qualified legal providers who are equipped to help you navigate your legal journey. Your contact information will be securely shared with these professionals, enabling them to reach out and discuss your needs.</li>
                </ul>            
            </div>
        </div>
    </div>    
</div>        <!-- put side here -->
        
{% endblock %}